*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* BUTTONS */

button{
    padding: 10px 20px;
    border: 0px;
    background-color: #0061FF;
    color: white;
    font-size: 1rem;
}

/* HEADER */

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid white;
}

header .menu-left,
header .menu-right{
    display: flex;
    align-items: center;
}

.menu-left img{
    margin: 0px 20px;
}

header ul li{
    display: inline-block;
    list-style: none;
    line-height: 80px;
    padding: 0px 15px;
    border-bottom: 2px solid white;
}

header ul li:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

.no-border:hover{
    border-bottom: 2px solid white;
    cursor: initial;
}

header ul li a{
    text-decoration: none;
    color: black;
}

/* MAIN */

.jumbotron-top{
    width: 100%;
    background-color: #B4D0E7;
}

.jumbo-top-content{
    width: 80%;
    max-width: 1500px;
    margin: auto;
}

.jumbo-top-content h1{
    font-size: 5rem;
    padding-top: 50px;
}

.jumbo-text-image{
    display: flex;
}

.jumbo-text-image .text{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.jumbo-text-image .text p{
    padding-top: 70px;
}
.jumbo-text-image .text button{
    margin: 50px 0px;
}

.jumbo-text-image .text i{
    font-size: 50px;
    margin-top: 100px;
}

.image{
    width: 70%;
}
.image img{
    width: 900px;
    position: relative;
    top: 70px;    
}